@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.flexRowBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.readDoc {
  border: 2px solid white;
  background: linear-gradient(#354cf6, #8e01f0);
  padding: 12px 20px;
  pointer-events: initial;
}
.readDoc:hover {
  background: linear-gradient(#8e01f0, #354cf6);
}

.botOverlay {
  border: 1px black solid;
}
.copyBtn {
  border: dashed white 2px;
  padding: 12px 20px;
  pointer-events: initial;
}
.copyBtn:hover {
  background: #7a0080;
}

.headerBtn {
  display: flex;
  flex-direction: column;
}

.headerBtn::after {
  position: relative;
  left: 100%;
  content: "";
  border-bottom: white solid 1px;
  width: 0;
  transition: all 0.3s ease-in;
}
.headerBtn:hover::after {
  position: relative;
  left: 0;
  width: 100%;
  transition: width 0.3s ease-in;
}
